<!-- 
and => x && y — — — — — — or => x || y
not => !x — — — — — — — — — eq => x == y
ne => x != y — — — — — — — — lt => x < y
gt => x > y — — — — — — — — le => x <= y
ge => x >= y 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML</title>
</head>
<body>
    {{ if eq .Grade "A"}}
    <h1>You're so cool</h1>
    {{ else if eq .Grade "B"}}
    <h1>You're so so</h1>
    {{ else }}
     <h1>You're bad</h1>
    {{ end }}
</body>
</html>